* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: #222;
  transition: 0.3s;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: white;
  align-items: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav button {
  padding: 5px 10px;
  cursor: pointer;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  color: white;
}

.hero span {
  color: yellow;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background: white;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 60px 20px;
  background: white;
  margin: 20px;
  border-radius: 10px;
}

.skills span {
  display: inline-block;
  margin: 10px;
  padding: 8px 15px;
  background: #667eea;
  color: white;
  border-radius: 20px;
}

.project-card {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}

.project-card a {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  color: white;
}

/* DARK MODE */
body.dark {
  background: #121212;
  color: white;
}

body.dark section,
body.dark header {
  background: #1e1e1e;
}

body.dark nav a {
  color: white;
}
